header {
  background-color: blue;
  color: white;
  padding: 20px;
}

header nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

header nav li {
  display: inline-block;
  margin-right: 10px;
}

header nav a {
  text-decoration: none;
  color: white;
}

.logo {
  font-family: Arial, sans-serif;
  font-size: 24px;
}
body {
  width: 800px;
}

h1 {
  font-family: "Times New Roman", serif;
}
.image-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 10px;
}
.hover-effect:hover {
  color: red;
  background-color: yellow;
}

 @media (max-width: 1280px) {
      /* CSS rules for content at 1280px width */
      body {
        font-size: 16px;
      }
      
      .container {
        width: 960px;
        margin: 0 auto;
      }
      
       @media (max-width: 768px ) {
      /* CSS rules for content at 1280px width */
      body {
        font-size: 18px;
      }
      
      .container {
        width: 960px;
        margin: 0 auto;
      }
       @media (max-width: 1280px) {
      /* CSS rules for content at 1280px width */
      body {
        font-size: 16px;
      }
      
      .container {
        width: 960px;
        margin: 0 auto;
      }
      
       @media (max-width: 360px ) {
      /* CSS rules for content at 1280px width */
      body {
        font-size: 20px;
      }
      
      .container {
        width: 960px;
        margin: 0 auto;
      }